<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PersonnelArchivesMapper">
    
    <resultMap type="PersonnelArchives" id="PersonnelArchivesResult">
        <result property="id"    column="id"    />
        <result property="workNumber"    column="work_number"    />
        <result property="name"    column="name"    />
        <result property="idCard"    column="id_card"    />
        <result property="contactNumber"    column="contact_number"    />
        <result property="gender"    column="gender"    />
        <result property="nationality"    column="nationality"    />
        <result property="politicalStatus"    column="political_status"    />
        <result property="center"    column="center"    />
        <result property="position"    column="position"    />
        <result property="jobLevel"    column="job_level"    />
        <result property="team"    column="team"    />
        <result property="employmentType"    column="employment_type"    />
        <result property="hireDate"    column="hire_date"    />
        <result property="confirmDate"    column="confirm_date"    />
        <result property="originPlace"    column="origin_place"    />
        <result property="hukouType"    column="hukou_type"    />
        <result property="homeAddress"    column="home_address"    />
        <result property="maritalStatus"    column="marital_status"    />
        <result property="emergencyContact"    column="emergency_contact"    />
        <result property="workYears"    column="work_years"    />
        <result property="education"    column="education"    />
        <result property="certification"    column="certification"    />
        <result property="recruitmentChannel"    column="recruitment_channel"    />
        <result property="vehicleInfo"    column="vehicle_info"    />
        <result property="previousEmployer"    column="previous_employer"    />
        <result property="accommodation"    column="accommodation"    />
        <result property="almaMater"    column="alma_mater"    />
        <result property="major"    column="major"    />
        <result property="promotionInfo"    column="promotion_info"    />
        <result property="contractNumber"    column="contract_number"    />
        <result property="contractType"    column="contract_type"    />
        <result property="contractStart"    column="contract_start"    />
        <result property="contractEnd"    column="contract_end"    />
    </resultMap>

    <sql id="selectPersonnelArchivesVo">
        select id, work_number, name, id_card, contact_number, gender, nationality, political_status, center, position, job_level, team, employment_type, hire_date, confirm_date, origin_place, hukou_type, home_address, marital_status, emergency_contact, work_years, education, certification, recruitment_channel, vehicle_info, previous_employer, accommodation, alma_mater, major, promotion_info, contract_number, contract_type, contract_start, contract_end from personnel_archives
    </sql>

    <select id="selectPersonnelArchivesList" parameterType="PersonnelArchives" resultMap="PersonnelArchivesResult">
        <include refid="selectPersonnelArchivesVo"/>
        <where>  
            <if test="workNumber != null  and workNumber != ''"> and work_number = #{workNumber}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="contactNumber != null  and contactNumber != ''"> and contact_number = #{contactNumber}</if>
            <if test="gender != null  and gender != ''"> and gender = #{gender}</if>
            <if test="nationality != null  and nationality != ''"> and nationality like concat('%', #{nationality}, '%')</if>
            <if test="politicalStatus != null  and politicalStatus != ''"> and political_status like concat('%', #{politicalStatus}, '%')</if>
            <if test="center != null  and center != ''"> and center like concat('%', #{center}, '%')</if>
            <if test="position != null  and position != ''"> and position like concat('%', #{position}, '%')</if>
            <if test="jobLevel != null  and jobLevel != ''"> and job_level like concat('%', #{jobLevel}, '%')</if>
            <if test="team != null  and team != ''"> and team like concat('%', #{team}, '%')</if>
            <if test="employmentType != null  and employmentType != ''"> and employment_type like concat('%', #{employmentType}, '%')</if>
            <if test="hireDate != null "> and hire_date = #{hireDate}</if>
            <if test="confirmDate != null "> and confirm_date = #{confirmDate}</if>
            <if test="originPlace != null  and originPlace != ''"> and origin_place like concat('%', #{originPlace}, '%')</if>
            <if test="hukouType != null  and hukouType != ''"> and hukou_type like concat('%', #{hukouType}, '%')</if>
            <if test="homeAddress != null  and homeAddress != ''"> and home_address like concat('%', #{homeAddress}, '%')</if>
            <if test="maritalStatus != null  and maritalStatus != ''"> and marital_status like concat('%', #{maritalStatus}, '%')</if>
            <if test="emergencyContact != null  and emergencyContact != ''"> and emergency_contact = #{emergencyContact}</if>
            <if test="workYears != null "> and work_years = #{workYears}</if>
            <if test="education != null  and education != ''"> and education like concat('%', #{education}, '%')</if>
            <if test="certification != null  and certification != ''"> and certification like concat('%', #{certification}, '%')</if>
            <if test="recruitmentChannel != null  and recruitmentChannel != ''"> and recruitment_channel = #{recruitmentChannel}</if>
            <if test="vehicleInfo != null  and vehicleInfo != ''"> and vehicle_info like concat('%', #{vehicleInfo}, '%')</if>
            <if test="previousEmployer != null  and previousEmployer != ''"> and previous_employer like concat('%', #{previousEmployer}, '%')</if>
            <if test="accommodation != null  and accommodation != ''"> and accommodation like concat('%', #{accommodation}, '%')</if>
            <if test="almaMater != null  and almaMater != ''"> and alma_mater like concat('%', #{almaMater}, '%')</if>
            <if test="major != null  and major != ''"> and major like concat('%', #{major}, '%')</if>
            <if test="promotionInfo != null  and promotionInfo != ''"> and promotion_info like concat('%', #{promotionInfo}, '%')</if>
            <if test="contractNumber != null  and contractNumber != ''"> and contract_number = #{contractNumber}</if>
            <if test="contractType != null  and contractType != ''"> and contract_type like concat('%', #{contractType}, '%')</if>
            <if test="contractStart != null "> and contract_start = #{contractStart}</if>
            <if test="contractEnd != null "> and contract_end = #{contractEnd}</if>
        </where>
    </select>
    
    <select id="selectPersonnelArchivesById" parameterType="Long" resultMap="PersonnelArchivesResult">
        <include refid="selectPersonnelArchivesVo"/>
        where id = #{id}
    </select>

    <insert id="insertPersonnelArchives" parameterType="PersonnelArchives" useGeneratedKeys="true" keyProperty="id">
        insert into personnel_archives
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workNumber != null">work_number,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="contactNumber != null and contactNumber != ''">contact_number,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="nationality != null">nationality,</if>
            <if test="politicalStatus != null">political_status,</if>
            <if test="center != null">center,</if>
            <if test="position != null">position,</if>
            <if test="jobLevel != null">job_level,</if>
            <if test="team != null">team,</if>
            <if test="employmentType != null">employment_type,</if>
            <if test="hireDate != null">hire_date,</if>
            <if test="confirmDate != null">confirm_date,</if>
            <if test="originPlace != null">origin_place,</if>
            <if test="hukouType != null">hukou_type,</if>
            <if test="homeAddress != null">home_address,</if>
            <if test="maritalStatus != null">marital_status,</if>
            <if test="emergencyContact != null and emergencyContact != ''">emergency_contact,</if>
            <if test="workYears != null">work_years,</if>
            <if test="education != null">education,</if>
            <if test="certification != null">certification,</if>
            <if test="recruitmentChannel != null">recruitment_channel,</if>
            <if test="vehicleInfo != null">vehicle_info,</if>
            <if test="previousEmployer != null">previous_employer,</if>
            <if test="accommodation != null">accommodation,</if>
            <if test="almaMater != null">alma_mater,</if>
            <if test="major != null">major,</if>
            <if test="promotionInfo != null">promotion_info,</if>
            <if test="contractNumber != null">contract_number,</if>
            <if test="contractType != null">contract_type,</if>
            <if test="contractStart != null">contract_start,</if>
            <if test="contractEnd != null">contract_end,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workNumber != null">#{workNumber},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="contactNumber != null and contactNumber != ''">#{contactNumber},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="nationality != null">#{nationality},</if>
            <if test="politicalStatus != null">#{politicalStatus},</if>
            <if test="center != null">#{center},</if>
            <if test="position != null">#{position},</if>
            <if test="jobLevel != null">#{jobLevel},</if>
            <if test="team != null">#{team},</if>
            <if test="employmentType != null">#{employmentType},</if>
            <if test="hireDate != null">#{hireDate},</if>
            <if test="confirmDate != null">#{confirmDate},</if>
            <if test="originPlace != null">#{originPlace},</if>
            <if test="hukouType != null">#{hukouType},</if>
            <if test="homeAddress != null">#{homeAddress},</if>
            <if test="maritalStatus != null">#{maritalStatus},</if>
            <if test="emergencyContact != null and emergencyContact != ''">#{emergencyContact},</if>
            <if test="workYears != null">#{workYears},</if>
            <if test="education != null">#{education},</if>
            <if test="certification != null">#{certification},</if>
            <if test="recruitmentChannel != null">#{recruitmentChannel},</if>
            <if test="vehicleInfo != null">#{vehicleInfo},</if>
            <if test="previousEmployer != null">#{previousEmployer},</if>
            <if test="accommodation != null">#{accommodation},</if>
            <if test="almaMater != null">#{almaMater},</if>
            <if test="major != null">#{major},</if>
            <if test="promotionInfo != null">#{promotionInfo},</if>
            <if test="contractNumber != null">#{contractNumber},</if>
            <if test="contractType != null">#{contractType},</if>
            <if test="contractStart != null">#{contractStart},</if>
            <if test="contractEnd != null">#{contractEnd},</if>
         </trim>
    </insert>

    <update id="updatePersonnelArchives" parameterType="PersonnelArchives">
        update personnel_archives
        <trim prefix="SET" suffixOverrides=",">
            <if test="workNumber != null">work_number = #{workNumber},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="contactNumber != null and contactNumber != ''">contact_number = #{contactNumber},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="nationality != null">nationality = #{nationality},</if>
            <if test="politicalStatus != null">political_status = #{politicalStatus},</if>
            <if test="center != null">center = #{center},</if>
            <if test="position != null">position = #{position},</if>
            <if test="jobLevel != null">job_level = #{jobLevel},</if>
            <if test="team != null">team = #{team},</if>
            <if test="employmentType != null">employment_type = #{employmentType},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="confirmDate != null">confirm_date = #{confirmDate},</if>
            <if test="originPlace != null">origin_place = #{originPlace},</if>
            <if test="hukouType != null">hukou_type = #{hukouType},</if>
            <if test="homeAddress != null">home_address = #{homeAddress},</if>
            <if test="maritalStatus != null">marital_status = #{maritalStatus},</if>
            <if test="emergencyContact != null and emergencyContact != ''">emergency_contact = #{emergencyContact},</if>
            <if test="workYears != null">work_years = #{workYears},</if>
            <if test="education != null">education = #{education},</if>
            <if test="certification != null">certification = #{certification},</if>
            <if test="recruitmentChannel != null">recruitment_channel = #{recruitmentChannel},</if>
            <if test="vehicleInfo != null">vehicle_info = #{vehicleInfo},</if>
            <if test="previousEmployer != null">previous_employer = #{previousEmployer},</if>
            <if test="accommodation != null">accommodation = #{accommodation},</if>
            <if test="almaMater != null">alma_mater = #{almaMater},</if>
            <if test="major != null">major = #{major},</if>
            <if test="promotionInfo != null">promotion_info = #{promotionInfo},</if>
            <if test="contractNumber != null">contract_number = #{contractNumber},</if>
            <if test="contractType != null">contract_type = #{contractType},</if>
            <if test="contractStart != null">contract_start = #{contractStart},</if>
            <if test="contractEnd != null">contract_end = #{contractEnd},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePersonnelArchivesById" parameterType="Long">
        delete from personnel_archives where id = #{id}
    </delete>

    <delete id="deletePersonnelArchivesByIds" parameterType="String">
        delete from personnel_archives where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>